/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
  color: #6b1a22;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 15px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #a35766;
  color: #ecdbc9;
}

main img {
  width: 100%;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.item {
  flex: 1;
  margin: 10px;
  padding: 20px;
}

.item-double {
  flex: 3 0 0;
  margin: 10px;
}
.smallsize {
  padding: 5px;
}

/* -------  Navigation ------- */

header {
  background-color: #83092e;
  padding: 20px 20px 0 20px;
  text-align: center;
}

.logo {
  font-family: "Tangerine", cursive;
  font-size: 50px;
  color: #ecdbc9;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #ecdbc9;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

.flex {
  flex-direction: row;
}

#menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* -------  Join Form ------- */
form {
  border: 2px solid #6b1a22;
  padding: 10px;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
}

.x {
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
}
form label {
  font-weight: bold;
}

form select,
form input {
  margin-bottom: 20px;
  max-width: 180px;
  margin-left: 8px;
}

button,
select {
  text-transform: none;
  width: 100%;
}
form button {
  background-color: #83092e;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

/* -------  Footer ------- */

footer {
  background-color: #83092e;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */
@media all and (min-width: 480px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }
  main .item img {
    display: flex;
    flex-direction: column;
  }
  .change {
    width: 50%;
  }
  header nav {
    margin-top: 4px;
  }
  .join {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  body {
    padding: 20px;
  }
  .logo {
    font-size: 60px;
  }
  .smallsize {
    width: 18%;
  }
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .stacked {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
  }
  .smallersize {
    width: 50%;
  }
  .sizeup {
    max-width: 96%;
    height: auto;
    margin: auto;
  }
  #about p {
    font-size: 26px;
  }
  #download {
    font-size: 25px;
  }
  #download h2 {
    font-size: 35px;
  }
  .side {
    display: flex;
    flex-direction: row;
  }
  #img2 {
    max-width: 50%;
    height: auto;
  }
  #blog p {
    margin: 25px;
  }
  #blog h3 {
    margin: 25px;
  }
}
